<%= form_for @comment, :remote => true do |f| %>
<%= f.label "Submit Comment:", :class => "comment-text" %>
<%= f.text_area :body, :size => "100", :class => "comment-#{review}" %><br />
<%= f.hidden_field :review_id, :value => review %>
<div id="submit-button" >
<%= f.submit "Submit", :class => "btn btn-info" %>

&nbsp;<span class="cancel" id="cancel-button" style="color:#0088cc">Cancel</span>

</div>



<% end %>

<script>
$(document).ready(function(){
  $('#cancel-button').click( function(){
      $("#comment_form-<%=j review %>").empty();
    $('.new-comment').html(
      "Submit a comment"
      );

    $("#comment_form-").html(
      ""
      );
  });
});
</script>

