<div class="hero-unit">
	<h1>Get your code reviewed!</h1><br />
	<div class="row">
  		<div class="span5">
  			<%= render "code_submissions/code_sub_form" %>
  		</div>
  		<div class="span5">
  			<h3>Submit to CodeRedux, get reviews.</h3>
  			<p>Improve your code with input from other professionals. CodeRedux helps you get quality reviews from experts in the language.</p>   
  			<p>Make it better, faster, and leaner.</p>
  		</div>
  	</div>
</div>
<div class="row">
	<div>
		<div class="span6">
		<% @code_submissions.each do |submission| %>
		
			<table class="table table-condensed">
				<tr>
					<td colspan="3"><h3><%= link_to submission.title, code_submission_path(submission) %></h3></td>
					<td colspan="2"><%= link_to 'Review This Code', code_submission_path(submission), class: "btn btn-danger btn-small" %></td>
				</tr>
				<tr></tr>
				<tr>
					<td colspan="5" class="well"><%= submission.description %></td>
				</tr>
				<tr></tr>
				<tr>
					<td><i class="icon-user"></i><%= link_to submission.user.name.split.first, user_path(:id => submission.user.id) %></td>
					<td><i class="icon-calendar"></i><%= submission.created_at.strftime("%e-%b-%y") %></td>
					<td><span class="label label-info"><%= "#{pluralize(submission.reviews.count, 'review')}" %></span></td>
					<td><span class="label label-success"><%= "#{pluralize((submission.votes_for - submission.votes_against), 'vote')}" %></span></td>
					<td><span class="label label-warning"><%= "#{pluralize(count_comments(submission), 'comment')}" %></span></td></td>
				</tr>
				
			</table>
			<% end %>
		
     <%= paginate @code_submissions %>
		</div>
		<div class="span6">
			<%= render "code_submissions/random_code" %>
		</div>

	</div>

</div>