<h1><%= @code_submission.description %></h1>
  <!-- <div id="gist"></div> -->
  <pre class="brush: ruby; ruler: true; first-line: 1; highlight: [2, 4, 6]"" id="gist" style="word_wrap; break-word; white-space; pre-wrap;"></pre>
  <!-- <textarea rows="50" class="span8"></textarea> -->
  <% if @code_submission.url.split('/').third.start_with?('gist') %>
    <script>
      
      var userGist = new Gh3.Gist({id: "<%=j @code_submission.url.split('/').last %>" });

      userGist.fetchContents(function (err, res) {

        if(err) { throw "outch ..." }

        console.log("userGist : ", userGist);
        console.log("Files : ", userGist.files);
        $("#gist").text(userGist.files[0].content);

      });

      SyntaxHighlighter.all()


      </script>
  <% else %>
    <script>
        var user = new Gh3.User("<%=j @code_submission.url.split('/').fourth %>");
        var repo = "<%=j @code_submission.url.split('/').fifth %>" ;
        var dir = "<%=j @code_submission.url.split('/')[-2]  %>" ;
        
        var userRepo = new Gh3.Repository(repo, user);
        //console.log(userRepo);

        userRepo.fetchBranches(function (err, res) {
            if(err) { throw "outch ..." }
            //console.log(res);

            var master = res.getBranchByName("master");
            //console.log(master);

            master.fetchContents(function (err, res) {
                if(err) { throw "outch ..." }
                //console.log(res);

               var app = res.getDirByName("app");
               //console.log(app);

               app.fetchContents( function(err, res){
                  if(err) { throw "outch ..."}
                  //console.log(app.getContents());

                  var views = res.getDirByName("views");
                  //console.log(views);

                  views.fetchContents( function(err, res) {
                      if(err) { throw "outch ..."}
                      console.log(views.getContents());

                      var users = res.getDirByName("users");

                      //console.log(users);

                      users.fetchContents( function(err, res) {
                          if(err) { throw "outch ..."}

                          console.log(users.getContents());

                          var myfile = users.getFileByName("show.html.erb");

                          myfile.fetchContent(function (err, res) {
                              if (err) { throw "outch ..."}

                              //console.log(myfile.getRawContent());
                              //$("#gist").text(myfile.getRawContent());

                          }); //file


                      }); // users


                  }); // views
                    
              }); // app

            }); // master

        }) // repo


    SyntaxHighlighter.all()

  </script>
<% end %>

<% @reviews.each do |review| %>
  <%= review.body %>
    <% review.comments.each do |comment| %>
    <%= comment.body %>
    <% end %>
    <%= form_for @comment do |f| %>
    <%= f.label "Submit Comment:" %>
    <%= f.text_area :body, :size => "100" %><br />
    <%= f.hidden_field :review_id, :value => review.id %>
    <%= f.submit "Submit" %>
  <% end %>

<% end %>

<%= form_for @review do |f| %>
<%= f.label "Submit Review:" %>
<%= f.text_area :body, :size => "100" %><br />
<%= f.hidden_field :code_submission_id %>
<%= f.submit "Submit" %>
<% end %>



