<h1><%= @code_submission.description %></h1>
  <!-- <div id="gist"></div> -->
  <pre id="gist" style="word_wrap; break-word; white-space; pre-wrap;"></pre>
  <!-- <textarea rows="50" class="span8"></textarea> -->
<script>

  var userGist = new Gh3.Gist({id: "<%=j @code_submission.url.split("/").last %>" });

  userGist.fetchContents(function (err, res) {

    if(err) { throw "outch ..." }

    console.log("userGist : ", userGist);
    console.log("Files : ", userGist.files);
    $("#gist").text(userGist.files[0].content);

  });

  SyntaxHighlighter.all()

</script>

<% @reviews.each do |review| %>
  <%= review.body %>
    <% review.comments.each do |comment| %>
    <%= comment.body %>
    <% end %>
    <%= form_for @comment do |f| %>
    <%= f.label "Submit Comment:" %>
    <%= f.text_area :body, :size => "100" %><br />
    <%= f.hidden_field :review_id, :value => review.id %>
    <%= f.submit "Submit" %>
  <% end %>

<% end %>

<%= form_for @review do |f| %>
<%= f.label "Submit Review:" %>
<%= f.text_area :body, :size => "100" %><br />
<%= f.hidden_field :code_submission_id %>
<%= f.submit "Submit" %>
<% end %>



