<h1><%= @code_submission.description %></h1>
  <!-- <div id="gist"></div> -->
  <pre class="brush: ruby; ruler: true; first-line: 1; highlight: [2, 4, 6]"" id="gist" style="word_wrap; break-word; white-space; pre-wrap;"></pre>
  <!-- <textarea rows="50" class="span8"></textarea> -->
<script>

  var userGist = new Gh3.Gist({id: "<%=j @code_submission.url.split("/").last %>" });

  userGist.fetchContents(function (err, res) {

    if(err) { throw "outch ..." }

    console.log("userGist : ", userGist);
    console.log("Files : ", userGist.files);
    $("#gist").text(userGist.files[0].content);

  });

  //SyntaxHighlighter.config.bloggerMode = true;
  SyntaxHighlighter.all()

</script>

<%= render "review_form" %>

<div class="review">
</div>


<% @reviews.each do |review| %>
  <div class="review"><h4><%= review.body %></h4>
    <%= link_to "Submit a comment", new_comment_path(:review => review), :remote => true, class: "new-comment" %>
    <div id="comment_form-<%= review.id %>"> </div>
    <div id="comments-<%= review.id %>">
    <% review.comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>
    </div>
  </div>
<% end %>





