<h1><%= @code_submission.description %></h1>
  <% url = @code_submission.url.split('/') %>
  <% username = url.fourth %>
  
  <pre id="code" class="brush: ruby; ruler: true; first-line: 1; highlight: [2, 4, 6]" ></pre>
  
  <% if @code_submission.url.split('/').third.start_with?('gist') %>

    <script>

        var github = new Github({
          username: "<%=j username %>",
          password: "",
          auth: "basic"
        });


        var gist = github.getGist("<%=j url.last %>");

        gist.read(function(err, gist) {
          
          for( k in gist.files ){           
            $("#code").text(gist.files[k].content);
          }

        });

        //SyntaxHighlighter.all();
        
      </script>

  <% else %>
      
    <script>

        
        var username = "<%=j username %>" ;
        var reponame = "<%=j url.fifth %>" ;
        var master = "<%=j url[6] %>" ;
        var path =   "<%=j [url[7..-1]].join('/') %>"  ;   

        var github = new Github({
          username: username,
          password: "",
          auth: "basic"
        });

        
        var repo = github.getRepo(username, reponame);
        //debugger;

        repo.read(master, path, function(err, contents) {
          $("#code").text(contents);
        }); 

      //SyntaxHighlighter.all();

  </script>
<% end %>

<%= render "review_form" %>

<div class="review">
</div>


<% @reviews.each do |review| %>
  <div class="review"><h4><%= review.body %></h4>
    <%= link_to "Submit a comment", new_comment_path(:review => review), :remote => true, class: "new-comment" %>
    <div id="comment_form-<%= review.id %>"> </div>
    <div id="comments-<%= review.id %>">
    <% review.comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>
    </div>
  </div>
<% end %>
