<div class="row">
  <div class="span1">
    <div class="submission_vote"><%= render :partial => "vote_display_submission", :locals => { :voteable => @code_submission }%></div>
  </div>
  <div class="span11">
    <div class="header" ><%= @code_submission.title %></div>
    <div class="submission_info"><%= render :partial => "author_display_inline", :locals => { :voteable => @code_submission }%></div>
  </div>
</div>
<div style="margin-top: 10px" > <%= @code_submission.description %> </div>

<% url = @code_submission.url.split('/') %>
<% username = url.fourth %>
  <div style="position:relative; height: 450px; vertical-align: top" >
    <textarea name="description" rows="1"></textarea>
    <div id="editor" class="span12" style="position: absolute; height: 450px; margin-left:0px;">
    </div>
  </div>
  <div style="position:relative; height: 74px; "></div>
  
  <% if @code_submission.url.split('/').third.start_with?('gist') %>

    <script>

        var github = new Github({
          username: "<%=j username %>",
          password: "",
          auth: "basic"
        });


        var gist = github.getGist("<%=j url.last %>");

        gist.read(function(err, gist) {
          
          for( k in gist.files ){           
            $('textarea[name="description"]').text(gist.files[k].content);  
          }

          code_editor();

        });
        
      </script>

  <% elsif @code_submission.url.split('/').third.start_with?('github.com') %>
      
    <script>

        
        var username = "<%=j username %>" ;
        var reponame = "<%=j url.fifth %>" ;
        var master = "<%=j url[6] %>" ;
        var path =   "<%=j [url[7..-1]].join('/') %>"  ;   

        var github = new Github({
          username: username,
          password: "",
          auth: "basic"
        });

        
        var repo = github.getRepo(username, reponame);
        //debugger;

        repo.read(master, path, function(err, contents) {
          $('textarea[name="description"]').text(contents);
          code_editor();
        }); 


  </script>
  <% else %>
    
    <script>
      $('textarea[name="description"]').text("Something not right! Please submit a proper github gist or repo url");
      code_editor();
    </script>

<% end %>

<script>

  var code_editor = function() {
  
      var editor = ace.edit("editor");
      var textarea = $('textarea[name="description"]').hide();
      
      editor.getSession().setMode("ace/mode/<%=j @code_submission.language %>");

      editor.setTheme("ace/theme/monokai");
      editor.getSession().setValue(textarea.val());
      editor.setReadOnly(true);
      editor.setShowPrintMargin(false);
      
      editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
      });


  };

</script>
  
<div class="well span10" style="height: 140px;">
<%= render "review_form" %>
</div>
<div class="span10">
<div id="review"></div>


<% @reviews.each do |review| %>
  <div class="row">
    <div class="span1">
      <div class="submission_vote"><%= render :partial => "vote_display_review", :locals => { :voteable => review }%></div>
    </div>

    <div class="span6">
      <div class="review-text"><%= review.body %></div>
      <span class="comment-text">
        <div id="comment_form-<%= review.id %>"> </div>
        <div id="comments-<%= review.id %>">
          <% review.comments.reverse.each do |comment| %>
            <p class="comment-copy">- <%= comment.body %> - <%= link_to comment.user.name, user_path(comment.user_id) %></p>
          <% end %>
        </div>
        <%= link_to "Submit a comment", new_comment_path(:review => review), :remote => true, class: "new-comment" %>
      </span>
    </div>
    
    <div class="span3">
      <div class="submission_info"><%= render :partial => "author_display", :locals => { :voteable => review }%></div>
    </div>

  </div>

<hr>
<% end %>

</div>


<div class="footer-spacer"></div>


