$('.review:last-child').append("<%=j render :partial => 'code_submissions/vote_display_review', :locals => { :voteable => @review }%>")
$('.review:last-child').append("<%=j render :partial => 'code_submissions/author_display', :locals => { :voteable => @review } %>");
$('.review:last-child').append("<div class='review'><div class='review-text'><%= @review.body %></div></div>");
$('.review:last-child').append("<div id='comment_form-<%= @review.id %>'> </div><div id='comments-<%= @review.id %>' ></div>");
$('#review_body').val(null);
$('.review:last-child').append("<span class='comment-text'><%=j link_to 'Submit a comment', new_comment_path(:review => @review), :remote => true, class: 'new-comment' %></span><hr>");




